body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: #191818;
    padding: 20px;
    text-align: center;
}

.container {
    width: auto;
    margin: 0 auto;
    padding: auto;
}

.section {
    background-color: #7b7d75;
    position: relative;
    margin: 10px 20px;
    border: 3px solid #0f0f0f;
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
    float: none;
}
.title {
    position: absolute; 
    width: 70px;
    text-align: center;
    top: 0px; 
    right: 0px; 
    background-color: #b54141; 
    padding: 5px 10px; 
    border: 2px solid #0f0e0e; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.section:nth-child(1) .title {
    background-color: #b54141;
}


.section:nth-child(2) .title {
    background-color: aquamarine;
    color: aliceblue;
}


.section:nth-child(3) .title {
    background-color: coral;
}


@media (min-width: 768px) and (max-width: 991px) {
    .container {
        display: flex;
        flex-wrap: wrap; 
    }

    .section {
        margin: 10px; 
        box-sizing: border-box; 
        position: relative;
    }

    
    .section:nth-child(1),
    .section:nth-child(2) {
        flex: 1 1 calc(50% - 20px); 
    }

   
    .section:nth-child(3) {
        flex: 1 1 100%; 
    }
}
   
 @media (min-width: 992px) {
    .container {
            display: flex;
            justify-content: space-between;
    }
    .section {
            flex: 1;
            margin: 10px;
            width: 50px;
            float: left;
            position: relative;
            
        }
 }
